# Copie este arquivo para "keystore.properties" (não commitar) e preencha os valores.
#
# storeFile pode ser relativo ao root do projeto.

storeFile=android.keystore
storePassword=REPLACE_ME
keyAlias=qerbie
keyPassword=REPLACE_ME
